main {
    display: flex;
    flex-direction: column;
    width: 70svw;
}

.title {
    font-size: 1.7em;
}

.item {
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    overflow-x: scroll;
    border: solid 1px black;
    margin: 0.1%;
    padding: 0.5%;
}

.item::-webkit-scrollbar {
    display: none;
}

.popup {
    position: absolute;
    width: 60svw;
    height: 60svh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px black;
    background: white;
}

.close {
    cursor: pointer;
}